<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.team24.express.mapper.EmployeeMapper">

    <!--    namespace 具体到自定义的Mapper接口，其余部分为固定模板-->
    <!--    在 mapper 代码块内编写 sql 操作-->
    <!--    id 应与 Mapper接口类种定义的方法名一致，且 resultType 为该接口方法的返回类型-->
    <select id="selectByCode" resultType="com.team24.express.entity.Employee">
        select * from employee
        <where>
            <if test="code !=null and code != ''">
                code = #{code}
            </if>
        </where>
    </select>

    <!--    查找特定角色的员工-->
    <select id="selectRoleEmployees" resultType="com.team24.express.entity.Employee">
        select * from employee join account_role on employee.id = account_role.account_id join role on
        account_role.role_id = role.id
        <where>
            account_role.type='EMPLOYEE'
            <if test="roleName !=null and roleName != ''">
                and role.name=#{roleName}
            </if>
        </where>
    </select>

    <!--    查找特定角色的员工-->
    <select id="selectWithRoleList" resultType="com.team24.express.entity.vo.EmployeeRoleFullVo">
        select employee.*, role.id as 'role_id', role.name as 'role_name'
        from employee join account_role on employee.id = account_role.account_id
        join role on account_role.role_id = role.id
        <where>
            account_role.type!='USER'
            <if test="code != null and code != '' ">and code like concat('%',#{code},'%')</if>
            <if test="name != null and name != '' ">and name like concat('%',#{name},'%')</if>
            <if test="phone != null and phone != '' ">and phone like concat('%',#{phone},'%')</if>
            <if test="sex != null ">and sex = #{sex}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="accountStatus != null ">and accountStatus = #{accountStatus}</if>
            <if test="address != null and address != '' ">and address like concat('%',#{address},'%')</if>
            <if test="username != null and username != '' ">and username like concat('%',#{username},'%')</if>
            <if test="email != null and email != '' ">and email like concat('%',#{email},'%')</if>
            <if test="code != null and code != '' ">and code like concat('%',#{code},'%')</if>
            <if test="roleName != null and roleName != '' ">and role.name = #{roleName}</if>
        </where>
    </select>


</mapper>
