<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.bobby.securityjwt.mapper.PermissionMapper">

    <select id="getByDomain" resultType="com.bobby.securityjwt.entity.Permission">
        select * from permission
        <where>
            <if test="domain !=null and domain != ''">
                domain = #{domain}
            </if>
        </where>
    </select>
    <select id="getByDomainAndPermission" resultType="com.bobby.securityjwt.entity.Permission">
        select * from permission
        <where>
            <if test="domain !=null and domain != ''">
                domain = #{domain}
            </if>
            <if test="permission !=null and permission != ''">
                and permission = #{permission}
            </if>
        </where>
    </select>
</mapper>