<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.team24.express.mapper.RegionMapper">
    <!--    根据片区查找快递员-->
    <select id="getCouriers" resultType="com.team24.express.entity.Employee">
        select employee.* from employee join account_role on employee.id = account_role.account_id join role on
        account_role.role_id= role.id
        <where>
            role.name='ROLE_DELIVERY_MAN'
            <if test="region!=null and region!=''">
                and employee.address like concat('%', #{region},'%')
            </if>
        </where>
    </select>

    <!--    根据片区查找到达快件-->
    <!--    找那些订单状态为运输中且 未被接受的订单-->
    <select id="getDeliveries" resultType="com.team24.express.entity.Delivery">
        select delivery.* from delivery
        <where>
            id not in
            (select delivery_id from courier_delivery)
            and delivery.express_status in (1,2)
            <if test="region!=null and region!=''">
                and delivery.recipient_address like concat('%', #{region},'%')
            </if>
        </where>
    </select>


</mapper>
