<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.bobby.securityjwt.mapper.RolePermissionMapper">

    <!--    多表链接查询-->
    <!--    根据角色id找出所有权限-->
    <select id="getPermissionsByRoleId" resultType="com.bobby.securityjwt.entity.Permission">
        select permission.* from permission, role_permission
        <where>
            <if test="roleId != null" >
                role_permission.role_id = #{roleId} and role_permission.permission_id = permission.id
            </if>
        </where>
    </select>

</mapper>