<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.bobby.securityjwt.mapper.RolePermissionMapper">

    <!--    多表链接查询-->
    <!--    根据角色id找出所有权限-->
<!--    <select id="getRolesByIdAndType" resultType="com.bobby.securityjwt.entity.Role">-->
<!--        select role.* from role, user_role-->
<!--        <where>-->
<!--            <if test="userId!=null">-->
<!--                user_role.user_id=#{userId} and user_role.role_id=role.id-->
<!--            </if>-->
<!--            and type=#{type}-->
<!--        </where>-->
<!--    </select>-->
<!--    <select id="getRoleNamesByIdAndType" resultType="java.lang.String">-->
<!--        select role.name from user_role, role-->
<!--        <where>-->
<!--            <if test="type != null and type != ''">-->
<!--                user_role.type = #{type}-->
<!--            </if>-->
<!--            <if test="userId != null">-->
<!--                and user_role.user_id=#{userId} and user_role.role_id=role.id-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->


</mapper>